.message {
    width: 160px;
    height: 30px;
    left: 50%;
    margin-left: -80px;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    transform: translateY(0);
    @apply fixed top-10;
}

.message.removing {
    opacity: 0;
    transform: translateX(100%);
}

@import "tailwindcss";

html, body, #root {
    width: 100%;
    height: 100%;
}
